## Importing Panda

In [65]:
import pandas as pd
import numpy as np

## Reading CSV File & Showing First Five Rows

In [66]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

### Shape of the data

In [67]:
df.shape

(50, 5)

### Counting the sum of null values in Every Column

In [68]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

# Handle Nan value

### Using Measure of Central Tendency

In [69]:
mean = df.Transport.mean()
mean

215331.7324489796

In [70]:
df.Transport = df.Transport.fillna(mean)

In [71]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

### Using bfill Method

In [72]:
df = pd.read_csv('agora.csv')
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [73]:
df.Transport = df.Transport.bfill(axis = 'rows')
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

### Using ffill Method

In [74]:
df = pd.read_csv('agora.csv')
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [75]:
df.Transport = df.Transport.bfill(axis = 'rows')
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

### Using replace Method

In [76]:
df = pd.read_csv('agora.csv')
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [77]:
mean = df.Transport.mean()
df.Transport = df.Transport.replace(np.nan, 0)
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Without Encoding Technique

In [78]:
df.Area.head()

0      Dhaka
1        Ctg
2    Rangpur
3      Dhaka
4    Rangpur
Name: Area, dtype: object

In [79]:
df.Area.unique()

array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)

In [80]:
df.Area = df.Area.replace(['Dhaka', 'Ctg', 'Rangpur'],[0,2,4])

In [81]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     0  192261.83
1        162597.70       151377.59  443898.53     2  191792.06
2        153441.51       101145.55  407934.54     4  191050.39
3        144372.41       118671.85  383199.62     0  182901.99
4        142107.34        91391.77  366168.42     4  166187.94

# Label Encoder

In [82]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [83]:
from sklearn.preprocessing import LabelEncoder

In [84]:
le = LabelEncoder()

In [85]:
df.Area = le.fit_transform(df['Area'])

In [86]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [87]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

### If we want to change all the columns having String

In [88]:
for column in df.columns:
    if df[column].dtype == np.number:
        continue
    df[column] = le.fit_transform(df[column])

C:\Users\ANIKCH~1\AppData\Local\Temp/ipykernel_9692/3447786509.py:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype == np.number:

In [89]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

# One Hot Encoding

In [90]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [91]:
dummy_var = pd.get_dummies(df['Area'],drop_first=True)
dummy_var.head()

   Dhaka  Rangpur
0      1        0
1      0        0
2      0        1
3      1        0
4      0        1

In [92]:
df2 = df.drop('Area',axis=1)

In [93]:
df2.head()

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39
3        144372.41       118671.85  383199.62  182901.99
4        142107.34        91391.77  366168.42  166187.94

In [94]:
df = df2

In [95]:
df.head()

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39
3        144372.41       118671.85  383199.62  182901.99
4        142107.34        91391.77  366168.42  166187.94

In [96]:
df = pd.concat([df,dummy_var],axis=1)

In [97]:
df.head()

   Marketing Spend  Administration  Transport     Profit  Dhaka  Rangpur
0        114523.61       136897.80  471784.10  192261.83      1        0
1        162597.70       151377.59  443898.53  191792.06      0        0
2        153441.51       101145.55  407934.54  191050.39      0        1
3        144372.41       118671.85  383199.62  182901.99      1        0
4        142107.34        91391.77  366168.42  166187.94      0        1

# Ordinal Encoding

In [98]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [99]:
df.Area.unique()

array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)

In [100]:
city = ['Rangpur','Dhaka', 'Ctg']

In [101]:
from sklearn.preprocessing import OrdinalEncoder

In [102]:
ordi = OrdinalEncoder(categories=[city])

In [103]:
ord_fit = ordi.fit_transform(df[['Area']])

In [104]:
ord_fit

array([[1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.],
       [2.],
       [0.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [1.],
       [2.]])

# Hasing

In [105]:
df = pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [106]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)

ERROR: Exception:
Traceback (most recent call last):
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\urllib3\response.py", line 438, in _error_catcher
    yield
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\urllib3\response.py", line 519, in read
    data = self._fp.read(amt) if not fp_closed else b""
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\cachecontrol\filewrapper.py", line 62, in read
    data = self.__fp.read(amt)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\http\client.py", line 455, in read
    n = self.readinto(b)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\http\client.py", line 499, in readinto
    n = self.fp.readinto(b)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\ssl.py", line 1241, in recv_into
    return self.read(nbytes, buffer)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\ssl.py", line 1099, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\cli\base_command.py", line 173, in _main
    status = self.run(options, args)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\cli\req_command.py", line 203, in wrapper
    return func(self, options, args)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\commands\install.py", line 315, in run
    requirement_set = resolver.resolve(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 94, in resolve
    result = self._result = resolver.resolve(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 472, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 366, in resolve
    failure_causes = self._attempt_to_pin_criterion(name)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 212, in _attempt_to_pin_criterion
    criteria = self._get_updated_criteria(candidate)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 203, in _get_updated_criteria
    self._add_to_criteria(criteria, requirement, parent=candidate)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 172, in _add_to_criteria
    if not criterion.candidates:
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\resolvelib\structs.py", line 151, in __bool__
    return bool(self._sequence)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 140, in __bool__
    return any(self)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 128, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 32, in _iter_built
    candidate = func()
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 204, in _make_candidate_from_link
    self._link_candidate_cache[link] = LinkCandidate(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 295, in __init__
    super().__init__(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 156, in __init__
    self.dist = self._prepare()
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 227, in _prepare
    dist = self._prepare_distribution()
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 305, in _prepare_distribution
    return self._factory.preparer.prepare_linked_requirement(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\operations\prepare.py", line 508, in prepare_linked_requirement
    return self._prepare_linked_requirement(req, parallel_builds)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\operations\prepare.py", line 550, in _prepare_linked_requirement
    local_file = unpack_url(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\operations\prepare.py", line 239, in unpack_url
    file = get_http_url(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\operations\prepare.py", line 102, in get_http_url

Requirement already satisfied: scipy>=1.0.0 in c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages (from category_encoders) (1.3.3)
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.12.2-cp39-none-win_amd64.whl (9.4 MB)

    from_path, content_type = download(link, temp_dir.path)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\network\download.py", line 145, in __call__
    for chunk in chunks:
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\cli\progress_bars.py", line 144, in iter
    for x in it:
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_internal\network\utils.py", line 63, in response_chunks
    for chunk in response.raw.stream(
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\urllib3\response.py", line 576, in stream
    data = self.read(amt=amt, decode_content=decode_content)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\urllib3\response.py", line 541, in read
    raise IncompleteRead(self._fp_bytes_read, self.length_remaining)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\contextlib.py", line 135, in __exit__
    self.gen.throw(type, value, traceback)
  File "c:\users\anik chakraborty\appdata\local\programs\python\python39\lib\site-packages\pip\_vendor\urllib3\response.py", line 443, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.

In [107]:
import category_encoders as ce

ModuleNotFoundError: No module named 'category_encoders'

In [ ]:
enco = ce.HashingEncoder(cols='Area',n_components=3)

In [ ]:
enc2 = enco.fit_transform(df['Area'])
enc2