In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [2]:
x = df['test']
y = df['class']

# Count Vectorizer

In [3]:
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
cv = CountVectorizer()

In [5]:
newx = cv.fit_transform(x)

In [6]:
x_ar = newx.toarray()

In [7]:
x_ar

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [8]:
fearture_names = cv.get_feature_names()
fearture_names

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

In [9]:
freq = pd.DataFrame(x_ar,columns=fearture_names)
freq

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,1,0,0,1,0,1,0,0,0,1
2,0,1,0,0,0,1,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [10]:
freq = pd.DataFrame(x_ar,index=df, columns=fearture_names)
freq

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0,0,1,0,0,0,0,0,1,0,0,0,0,0
"(Could you give me an iphone?, 0)",1,0,0,1,1,0,0,1,0,1,0,0,0,1
"(Hello how are you?, 1)",0,1,0,0,0,1,1,0,0,0,0,0,0,1
"(I want to talk you., 1)",0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [11]:
x = freq

In [12]:
x.shape

(4, 14)

In [13]:
y.shape

(4,)

# TF Vectorizer

In [14]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()
x = df['test']

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
tf_idf = TfidfVectorizer()

In [17]:
x2 = tf_idf.fit_transform(x)
x2

<4x14 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [18]:
x3 = x2.toarray()

In [21]:
x3

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.43003652, 0.        , 0.        , 0.43003652, 0.43003652,
        0.        , 0.        , 0.43003652, 0.        , 0.43003652,
        0.        , 0.        , 0.        , 0.27448674],
       [0.        , 0.5417361 , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.34578314],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.5417361 , 0.34578314]])

In [22]:
freq2 = pd.DataFrame(x3,index=df, columns= tf_idf.get_feature_names())
freq2

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
"(Could you give me an iphone?, 0)",0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
"(Hello how are you?, 1)",0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
"(I want to talk you., 1)",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

# Word2Vec

In [25]:
from gensim.models import Word2Vec, KeyedVectors
import nltk

C:\Users\study mart\AppData\Roaming\Python\Python38\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [26]:
text = [nltk.word_tokenize(test) for test in x]

In [27]:
text

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [28]:
model = Word2Vec(text, min_count=1)

In [29]:
model.wv.most_similar('iphone') # wv -> word vector

[('you', 0.21882031857967377),
 ('give', 0.1747603565454483),
 ('Could', 0.16378773748874664),
 ('love', 0.10852646082639694),
 ('to', 0.06548116356134415),
 ('want', 0.04891001060605049),
 ('Bangladesh', 0.047671593725681305),
 ('I', 0.022314248606562614),
 ('.', 0.006397296208888292),
 ('talk', -0.011984676122665405)]